// Spalvos
$color-primary: #4B5563;      
$color-secondary: #F3F4F6;    
$color-accent: #FF4D6D;       
$color-background: #FFFFFF;    
$color-text: #1F2937;         


$font-base: 'Helvetica Neue', sans-serif;
$border-radius: 0.5rem;
$transition-default: all 0.3s ease;
$box-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.05);
$box-shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.1);

// Mygtuku spalvos
$btn-solid-bg: $color-primary;
$btn-solid-text: #ffffff;
$btn-outline-border: $color-primary;
$btn-outline-text: $color-primary;
$btn-outline-hover-bg: $color-primary;
$btn-outline-hover-text: #ffffff;